<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {{>headTitle}}
    </head>
    <body>
        {{>bodyTitle}}
        <p>My about text</p>
        {{>footer}}
    </body>
</html>