<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {{>headTitle}}
    </head>
    <body>
        {{>bodyTitle}}
        <p>{{screamIt welcomeMsg}}</p>
        <p>{{name}} likes {{likes}}</p>
        {{> footer}}
    </body>
</html>